
/***************
** Navigation menu
*********/
.listarow {
  rotate: 180deg;
  display: inline-block;
}
.hambargerwrp {
  display: none;
}
.hambargerrow {
  background: #000;
  width: 33px;
  height: 1px;
  margin: 0 auto;
}
.hambargerrow:nth-child(1) {
  margin-top: 8px;
}
.hambargerrow:nth-child(2) {
  margin-top: 6px;
  margin-bottom: 6px;
}

.tonavbar {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.199);
  position: relative;
  padding: 0px 70px;
  background-color: #fff;
}

/****Brand Logo***/
.tonavbar .brand-logo {
  color: hwb(303 20% 0%);
  text-decoration: none;
  font-size: 25px;
  padding: 0px 20px;
}
.brand-logo b{
  color: #6a34ff;
}

/****Menu***/
.tonavbar ul {
  list-style-type: none;
  display: flex;
}
.tonavbar ul ul{
  display: block;
}
.tonavbar ul li a {
  display: block;
  text-decoration: none;
  color: #444;
  padding: 20px 20px;
  font-weight: 700;
  transition: 0.4s all;
}
.tonavbar ul li {
  position: relative;
}
.tonavbar ul li:hover ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.tonavbar ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}
.tonavbar ul li ul a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}
.tonavbar ul li ul a:hover {
  padding-left: 30px;
}
.tonavbar ul li a:hover {
  color: hwb(303 20% 0%);
}
.tonavbar ul li:hover ul li ul{
  display: none;
}
.tonavbar ul li ul li:hover ul{
  display: block;
  left: 200px;
  top: 0px;
}
.tonavbar ul li ul li:hover:before {
  content: "^";
  position: absolute;
  left: 3px;
  top: 9px;
  color: hwb(303 20% 0%);
  rotate: 90deg;
  font-size: 17px;
}



/****** Responsive Menu *****/
@media screen and (max-width: 992px) {  
  .hambargerwrp {
    width: 45px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 20px;
    display: block;
    cursor: pointer;
  }
  #nav{
    display: none;
  }
  .tonavbar {
    position: relative;
    padding: 20px 0px 0px 0px;
    display: block;
    box-shadow: unset;
    width: 100%;
  }
  .tonavbar ul {
    display: block;
    width: 100%;
    padding: 0px 0px 200px 0px;
    position: relative;
  }
  .tonavbar ul li a {
    padding: 16px 20px;
  }
  .tonavbar ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    position: relative;
    width: auto;
    background: #ededed;
    padding-left: 20px;
    box-shadow: unset;
  }
  .tonavbar ul li:hover ul li {
    padding: 3px 0px;
  }
  .tonavbar ul li ul li:hover ul li{
    padding-left: 20px;
  }
  .tonavbar ul li ul li:hover ul {
    display: block;
    left: 0px;
    top: 0px;
    position: relative;
    box-shadow: unset;
    padding: 0px 0px 8px 10px;
    width: auto;
  }
  .tonavbar ul li ul li:hover:before {
    content: unset;
    position: unset;
  }
}
